[Unit]
After=network-online.target
Requires=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=10

[Service]
AmbientCapabilities=CAP_NET_ADMIN
AmbientCapabilities=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_RAW
CacheDirectory=%N
CacheDirectoryMode=0750
CapabilityBoundingSet=CAP_NET_ADMIN
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_RAW
ConfigurationDirectory=%N
ConfigurationDirectoryMode=0750
CPUSchedulingPolicy=rr
DeviceAllow=/dev/null
DevicePolicy=strict
DynamicUser=yes
EnvironmentFile=/etc/default/%N
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/sbin/keepalived --dont-fork $DAEMON_ARGS --pid=/var/run/keepalived/keepalived.pid --vrrp_pid=/var/run/keepalived/vrrp.pid --checkers_pid=/var/run/keepalived/keepalived_checkers.pid --bfd_pid=/var/run/keepalived/keepalived_bfd.pid
IOSchedulingClass=realtime
KillMode=control-group
KillSignal=SIGINT
LimitCORE=infinity
LimitMEMLOCK=infinity
LimitNOFILE=500000
LockPersonality=yes
LogsDirectory=%N
LogsDirectoryMode=0750
NoNewPrivileges=yes
OOMScoreAdjust=-500
PermissionsStartOnly=false
PrivateTmp=yes
ProtectControlGroups=yes
ProtectHome=read-only
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
RemoveIPC=yes
Restart=always
RestartSec=5
RestrictAddressFamilies=AF_INET AF_NETLINK AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RuntimeDirectory=%N
RuntimeDirectoryMode=0750
SystemCallArchitectures=native
UMask=0007
User=_%N
Group=%N
StateDirectory=%N
StateDirectoryMode=0750
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
